@{
    ViewData["Title"] = "Students";
}


<div class="container-fluid">
  <h1>Search Space</h1>
  <p>Enjoy your space.</p>
  <div class="row">
    <div class="col-sm-4" style="">
            <h2>Add Flat</h2>
    <a class="btn btn-default" href="Home/Artists"> Add Flate </a>
    <a class="btn btn-default" href="Home/Students"> Add Space</a>
    <a class="btn btn-default" href="Home/Students"> Add Job</a>
    <a class="btn btn-default" href="Home/Students"> Add Event</a>
    </div>
        
    <div class="col-sm-4" style="">
    <h2>Search Flatemate`s</h2>
    <button type="button" class="btn btn-default">Find Mate</button>
            <button type="button" class="btn btn-default">Find Flate</button>
            <button type="button" class="btn btn-default">Find Job</button>
            <button type="button" class="btn btn-default">Find Event</button>
        </div>

        <div class="col-sm-4" style="">
    <h2>Search Flatemate`s</h2>
    <button type="button" class="btn btn-default">Find Mate</button>
            <button type="button" class="btn btn-default">Find Flate</button>
            <button type="button" class="btn btn-default">Find Job</button>
            <button type="button" class="btn btn-default">Find Event</button>
        </div>


  </div>
</div>


